* {
    box-sizing: border-box;
}

.headfoot {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: peru;
    text-align: center;
}

.article_01 {
    position: static;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: sandybrown;
}

.article_02 {
    position: static;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: bisque;
}

.sticky_h1 {
    position: sticky;
    width: 100%;
    top: -1px;
    background-color: black;
    color: white;
}